@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Kanit', sans-serif; /* Set the font to Kanit with a fallback to sans-serif */
}

.ant-row.css-dev-only-do-not-override-1adbn6x {
  margin-bottom: 5px;
}