:where(.css-dev-only-do-not-override-1adbn6x).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover, :where(.css-dev-only-do-not-override-1adbn6x).ant-btn-default:not(:disabled):not(.ant-btn-disabled):active {
    color: #ef4949;
    border-color: #ef4949;
}

button.ant-btn.css-dev-only-do-not-override-1adbn6x.ant-btn-primary, :where(.css-dev-only-do-not-override-1adbn6x).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover, :where(.css-dev-only-do-not-override-1adbn6x).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):active {
    color: #ffffff;
    border-color: #ea580c;
    background-color: #ea580c;
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-list .ant-list-pagination {
    margin-block-start: 0px;
}

ul.ant-pagination.css-dev-only-do-not-override-1adbn6x {
    display: flex;
    justify-content: end;
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-list-vertical .ant-list-item .ant-list-item-meta {
    margin-block-end: 5px;
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-list-lg .ant-list-item {
    padding: 10px 18px;
}

ul.ant-list-item-action{
    text-align: center;
}

h4.ant-list-item-meta-title{
    margin-block-end: 0;
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-list .ant-list-item .ant-list-item-meta .ant-list-item-meta-title{
    margin: 0;
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-pagination .ant-pagination-item-active  ,:where(.css-dev-only-do-not-override-1adbn6x).ant-pagination .ant-pagination-item-active a , :where(.css-dev-only-do-not-override-1adbn6x).ant-pagination .ant-pagination-item-active:hover a{
    color: #ea580c;
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-pagination .ant-pagination-item-active , :where(.css-dev-only-do-not-override-1adbn6x).ant-pagination .ant-pagination-item-active:hover{
    border-color: #ea580c;
}

.ant-space.css-dev-only-do-not-override-1adbn6x.ant-space-horizontal.ant-space-align-center.ant-space-gap-row-small.ant-space-gap-col-small {
    color: black;
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-spin{
    color: #ffffff
}